[user]
    name = Benjamin P. McKenna
    email = britishben@gmail.com

[color]
    ui = auto
    pager = true

[core]
    editor = vim
    pager = less
    excludesfile = ~/.gitignore

[credential]
    helper = cache --timeout=3600

[github]
    user = britishben

[color]
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = green
    changed = blue
    deleted = red

[diff]
    tool = vimdiff

[merge]
    tool = vimdiff

[url "https://github.com/"]
    insteadOf = gh:

[url "https://gitlab.com/"]
    insteadOf = gl:

[url "https://gist.github.com/"]
    insteadOf = gist:

[url "https://bitbucket.org/"]
    insteadOf = bb:

[url "https://notabug.org/"]
    insteadOf = nab:

[alias]
    ls = ls-files
    #cat = cat-file
    plog = log --graph --pretty=format:'%C(auto,red)%h%Creset %C(auto,magenta)%G?%Creset%C(auto,yellow)% d%Creset %C(auto,cyan)%aN%Creset: %s %C(auto,green)(%cr)%Creset'
    slog = log --date=format:'%F %T %z (%a, %d %b %Y)' --pretty=format:'------------------------------------------------------------------------%nr:%h | %an | %cd | line%n%n%-s%n%nChanged paths:' --name-status
    co = checkout
    cm = commit -m
[push]
	default = simple
