[user]
	name = Benjamin P. McKenna
	email = britishben@gmail.com
	
[color]
    ui = auto
    pager = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = green
    changed = blue
    deleted = red
    
[core]
	editor = vim
	excludesfile = ~/.gitignore
	
[diff]
	tool = vimdiff
	
[merge]
	tool = vimdiff
	
[url "https://github.com/"]
    insteadOf = gh:

[url "https://gist.github.com/"]
    insteadOf = gist:

[url "https://bitbucket.org/"]
    insteadOf = bb:
    
[url "https://notabug.org/"]
    insteadOf = nab:
    
[alias]
	ls = ls-files
	plog = log --graph --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %C(cyan)%an%Creset -%s %Cgreen(%cr)'

[credential]
	helper = cache --timeout=3600
